a {
    text-decoration: none !important;
}

.show {
    display: block!important;
}

.hide {
    display: none!important;
}

/* Dashboard::My Resume Page */
.autocomplete-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    z-index: 99;
    width: 100%;
}

.autocomplete-items div {
    padding: 5px 10px;
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #f2f2f2;
}
/* Dashboard::My Resume Page */
